Repository BinaryStudioAcademy/bsa-2022-easymeets, pull requests merged in 2022-09, with the labels that each got.

#217 Change styles of buttons and text #134
  frontend/src/app/modules/external-booking/external-booking-choose-members-page/external-booking-choose-members-page.component.sass
Labels: bug

#213 [#186] changed teams' names in menu
  frontend/src/app/modules/header/header-item/header-item.component.html
  frontend/src/app/modules/header/header-item/header-item.component.sass
  frontend/src/styles/material.sass
Labels: bug, frontend

#221 Feature/availability slot component new design #202
  frontend/src/app/modules/availability/edit-slot/edit-availability-page/edit-availability-page.component.html
  frontend/src/app/modules/availability/new-slot/new-availability-page/new-availability-page.component.html
  frontend/src/app/modules/availability/new-slot/new-availability/new-availability.component.html
  frontend/src/app/modules/availability/new-slot/new-availability/new-availability.component.sass
  frontend/src/app/modules/availability/slot/slot.component.sass
  frontend/src/app/modules/side-menu/tabs-menu/side-menu-tabs.component.sass
  frontend/src/index.html
Labels: enhancement

#224 Change title and logo of website header #215
  frontend/src/assets/logo_icon.png
  frontend/src/index.html
Labels: enhancement

#205 [#194] fixed input float labels
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.html
Labels: bug, frontend

#222 Bug/multiple team members requirements #134
  frontend/src/app/modules/external-booking/external-booking-choose-members-page/external-booking-choose-members-page.component.html
  frontend/src/app/modules/external-booking/external-booking-choose-members-page/external-booking-choose-members-page.component.sass
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.ts
Labels: bug

#214 Fixes #169 Avatar on the header update only after two Page reloads
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/auth/components/sign-in-form/sign-in-form.component.ts
  frontend/src/app/modules/auth/components/sign-up-form/sign-up-form.component.ts
  frontend/src/app/modules/header/header-item/header-item.component.html
  frontend/src/app/modules/header/header-item/header-item.component.ts
  frontend/src/app/modules/settings/user/user-profile-page/user-profile-page.component.ts
Labels: bug

#230 Change field to Input # 229
  frontend/src/app/modules/availability/new-slot/new-availability/new-availability.component.ts
Labels: bug

#215 Feature/meeting created pop up #197
  frontend/src/app/core/helpers/booked-window-members-helper.ts
  frontend/src/app/core/models/INewMeeting.ts
  frontend/src/app/core/models/INewMeetingTeamMember.ts
  frontend/src/app/core/services/confirmation-window.service.ts
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.html
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.ts
  frontend/src/app/shared/components/booking-window/booking-window.component.html
  frontend/src/app/shared/components/booking-window/booking-window.component.sass
  frontend/src/app/shared/components/booking-window/booking-window.component.ts
  frontend/src/app/shared/components/confirmation-window/confirmation-window.component.html
  frontend/src/app/shared/components/confirmation-window/confirmation-window.component.sass
  frontend/src/app/shared/components/confirmation-window/confirmation-window.component.ts
  frontend/src/app/shared/models/confirmWindow/IConfirmDialogData.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/assets/booked-icon.png
  frontend/src/styles/color-variables.sass
  frontend/src/styles/material.sass
Labels: enhancement

#231 An unauthorized user is redirecting to the "Sign in" page #208
  frontend/src/app/app-routing.module.ts
Labels: enhancement

#243 Confirm booking fields size #228
  frontend/src/app/modules/external-booking/external-booking-confirm-page/external-booking-confirm-page.component.sass
Labels: bug

#242 # 236 Meeting name cannot be longer than two words
  backend/EasyMeets.Core/EasyMeets.Core.BLL/MappingProfiles/MeetingMemberProfile.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/MappingProfiles/MeetingProfile.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.ts
  frontend/src/app/shared/constants/model-validation.ts
Labels: bug, frontend

#251 #234 Fix bug with displaying meeting members avatars in confirmation window
  backend/EasyMeets.Core/EasyMeets.Core.BLL/MappingProfiles/MeetingMemberProfile.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/MappingProfiles/TeamMemberProfile.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Team/NewMeetingTeamMemberDto.cs
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.ts
Labels: bug, frontend, backend

#271 #251 Incorrect partition sequence
  frontend/src/app/core/helpers/new-availability-menu-helper.ts
  frontend/src/app/modules/availability/new-slot/new-availability/new-availability.component.html
Labels: bug

#272 [#255] fixed disabled slot avatars
  frontend/src/app/modules/availability/slot/slot.component.html
Labels: bug, frontend

#277 [#272] excluded weekdays on the choose time page fix
  frontend/src/app/modules/external-booking/external-booking-choose-time-page/external-booking-choose-time-page.component.ts
Labels: bug, frontend

#284 [#276] stores all "New Meeting" in the first group fix
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
  frontend/src/app/core/models/INewMeeting.ts
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.ts
Labels: bug

#283 #274 Bug with the link not matching figma design
  frontend/src/app/modules/availability/new-slot/event-detail/event-detail.component.html
  frontend/src/app/modules/availability/new-slot/event-detail/event-detail.component.sass
  frontend/src/app/modules/availability/new-slot/general/general.component.sass
Labels: bug, frontend

#297 #253 Registration issue
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/UserService.cs
  frontend/src/app/core/services/auth-form.service.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/auth/components/sign-in-form/sign-in-form.component.ts
  frontend/src/styles/material.sass
Labels: bug, enhancement

#300 [#284] fixed bugs for external attendee booking functionality
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/IExternalAttendeeService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/MappingProfiles/AvailabilityProfile.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/MappingProfiles/UserProfile.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/ExternalAttendeeService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Availability/ExternalAvailabilitySlotDto.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/ExternalAttendee/ExternalAttendeeBookingInfoDto.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/User/ExternalUserDto.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Controllers/AvailabilityController.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Controllers/ExternalAttendeeController.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Controllers/MeetingController.cs
  frontend/src/app/core/models/IExtendBookingSideMenu.ts
  frontend/src/app/core/models/IExternalAttendeeBookingInfo.ts
  frontend/src/app/core/models/IExternalAvailabilitySlot.ts
  frontend/src/app/core/models/IExternalUser.ts
  frontend/src/app/core/services/external-attendee.service.ts
  frontend/src/app/modules/availability/slot/slot.component.html
  frontend/src/app/modules/availability/slot/slot.component.sass
  frontend/src/app/modules/availability/slot/slot.component.ts
  frontend/src/app/modules/availability/user-slot/user-slot.component.html
  frontend/src/app/modules/availability/user-slot/user-slot.component.sass
  frontend/src/app/modules/availability/user-slot/user-slot.component.ts
  frontend/src/app/modules/external-booking/external-booking-choose-meeting-page/external-booking-choose-meeting-page.component.html
  frontend/src/app/modules/external-booking/external-booking-choose-meeting-page/external-booking-choose-meeting-page.component.ts
  frontend/src/app/modules/external-booking/external-booking-choose-time-page/external-booking-choose-time-page.component.ts
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.html
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.ts
  frontend/src/app/modules/external-booking/external-booking-routing.module.ts
Labels: bug, frontend, backend

#299 Bug/availability slots shadow #249
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/AvailabilityService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/Enums/Color.cs
  frontend/src/app/core/enums/color.enum.ts
  frontend/src/app/core/helpers/color-shadow-mapping.ts
  frontend/src/app/core/helpers/slot-shadow-helper.ts
  frontend/src/app/core/helpers/slot-with-members-multiple-helper.ts
  frontend/src/app/core/models/IColorHex.ts
  frontend/src/app/modules/availability/new-slot/general/general.component.ts
  frontend/src/app/modules/availability/slot/slot.component.sass
  frontend/src/app/modules/availability/slot/slot.component.ts
  frontend/src/app/shared/styles/common-page-styles.sass
  frontend/src/styles/color-variables.sass
Labels: bug

#302 #227 Enhancement: : validation rules (automatic removal of spaces)
  frontend/src/app/core/helpers/string-helper.ts
  frontend/src/app/modules/availability/new-slot/general/general.component.html
  frontend/src/app/modules/availability/new-slot/general/general.component.ts
  frontend/src/app/modules/settings/team/team-preferences/team-preferences.component.html
  frontend/src/app/modules/settings/team/team-preferences/team-preferences.component.ts
  frontend/src/app/modules/settings/user/user-profile-page/user-profile-page.component.html
  frontend/src/app/modules/settings/user/user-profile-page/user-profile-page.component.ts
Labels: enhancement, frontend

#308 [#267] redesign time page
  backend/EasyMeets.Core/EasyMeets.Core.BLL/MappingProfiles/UserProfile.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/User/ExternalUserDto.cs
  frontend/src/app/core/models/IExtendBookingSideMenu.ts
  frontend/src/app/core/models/IExternalUser.ts
  frontend/src/app/modules/external-booking/external-booking-choose-time-page/external-booking-choose-time-page.component.html
  frontend/src/app/modules/external-booking/external-booking-choose-time-page/external-booking-choose-time-page.component.sass
  frontend/src/app/modules/external-booking/external-booking-choose-time-page/external-booking-choose-time-page.component.ts
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.html
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.sass
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.ts
  frontend/src/styles/color-variables.sass
Labels: enhancement, frontend

#307 Change field validation #292
  frontend/src/app/modules/availability/new-slot/event-detail/event-detail.component.html
Labels: bug

#296 Feature/team members #223
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/ITeamService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/IUserService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/TeamService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/TeamSharedService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/UserService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Team/TeamMemberDto.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/Enums/Role.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Controllers/TeamController.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Controllers/UserController.cs
  frontend/src/app/app.component.sass
  frontend/src/app/app.component.ts
  frontend/src/app/core/models/ITeamMember.ts
  frontend/src/app/core/services/confirmation-window.service.ts
  frontend/src/app/core/services/team.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/settings/settings-page/settings-page.component.ts
  frontend/src/app/modules/settings/team/edit-team/edit-team.component.html
  frontend/src/app/modules/settings/team/team-members/team-members.component.html
  frontend/src/app/modules/settings/team/team-members/team-members.component.sass
  frontend/src/app/modules/settings/team/team-members/team-members.component.ts
  frontend/src/app/modules/settings/team/team-preferences/team-preferences.component.html
  frontend/src/app/modules/settings/team/team-preferences/team-preferences.component.ts
  frontend/src/app/modules/settings/team/team-routing.module.ts
  frontend/src/app/modules/settings/team/team-tabs-menu/team-tabs-menu.component.html
  frontend/src/app/modules/settings/team/team-tabs-menu/team-tabs-menu.component.sass
  frontend/src/app/modules/settings/team/team-tabs-menu/team-tabs-menu.component.ts
  frontend/src/app/modules/settings/team/team.module.ts
  frontend/src/app/shared/components/owner-rights-window/owner-rights-window.component.html
  frontend/src/app/shared/components/owner-rights-window/owner-rights-window.component.sass
  frontend/src/app/shared/components/owner-rights-window/owner-rights-window.component.ts
  frontend/src/app/shared/components/team-members-window/team-members-window.component.html
  frontend/src/app/shared/components/team-members-window/team-members-window.component.sass
  frontend/src/app/shared/components/team-members-window/team-members-window.component.ts
  frontend/src/app/shared/constants/shared-messages.ts
  frontend/src/app/shared/enums/role.ts
  frontend/src/app/shared/enums/status.ts
  frontend/src/app/shared/models/ITeamMembersDialogData.ts
  frontend/src/app/shared/models/confirmWindow/IConfirmDialogData.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/assets/alert-icon.png
  frontend/src/styles/color-variables.sass
Labels: enhancement

#312 Card #268 Bug/meeting hours display
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Meeting/MeetingMembersDTO.cs
  frontend/src/app/core/helpers/date-helper.ts
  frontend/src/app/core/helpers/time-zone-helper.ts
  frontend/src/app/core/models/IMeetingBooking.ts
  frontend/src/app/core/models/INewMeeting.ts
  frontend/src/app/modules/bookings/bookings-page/bookings-page.component.html
  frontend/src/app/modules/bookings/bookings-page/bookings-page.component.ts
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.ts
Labels: bug, frontend

#310 [#296] long link is displayed incorrectly fix
  frontend/src/app/modules/availability/slot/slot.component.sass
  frontend/src/app/modules/availability/user-slot/user-slot.component.sass
Labels: bug, frontend

#311 Feature/redesign calendar section #286
  frontend/src/app/modules/calendars/calendars-page/calendars-page.component.html
  frontend/src/app/modules/calendars/calendars-page/calendars-page.component.sass
  frontend/src/app/modules/calendars/calendars-page/calendars-page.component.ts
  frontend/src/app/modules/settings/settings-page/settings-page.component.html
  frontend/src/app/modules/settings/settings-page/settings-page.component.sass
  frontend/src/app/modules/settings/settings.module.ts
  frontend/src/app/modules/settings/video-conferencing/video-conferencing.component.ts
Labels: enhancement

#305 #273 Feature/ellipsis menu on the booking page
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/IMeetingService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Controllers/MeetingController.cs
  frontend/src/app/core/services/meeting-bookings.service.ts
  frontend/src/app/modules/bookings/bookings-page/bookings-page.component.html
  frontend/src/app/modules/bookings/bookings-page/bookings-page.component.sass
  frontend/src/app/modules/bookings/bookings-page/bookings-page.component.ts
Labels: enhancement, frontend, backend

#262 Card #171 Feature/exclusion dates
  backend/EasyMeets.Core/EasyMeets.Core.BLL/MappingProfiles/AvailabilityProfile.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/MappingProfiles/ExclusionDateProfile.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/AvailabilityService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Availability/Schedule/ExclusionDate/DayTimeRange/DayTimeRangeDto.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Availability/Schedule/ExclusionDate/ExclusionDateDto.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Availability/Schedule/ScheduleDto.cs
  backend/EasyMeets.Core/EasyMeets.Core.DAL/Context/EasyMeetsCoreContext.cs
  backend/EasyMeets.Core/EasyMeets.Core.DAL/Context/EntityConfigurations/DayTimeRangeConfig.cs
  backend/EasyMeets.Core/EasyMeets.Core.DAL/Context/EntityConfigurations/ExclusionDateConfig.cs
  backend/EasyMeets.Core/EasyMeets.Core.DAL/Context/ModelBuilderExtensions.cs
  backend/EasyMeets.Core/EasyMeets.Core.DAL/Entities/DayTimeRange.cs
  backend/EasyMeets.Core/EasyMeets.Core.DAL/Entities/ExclusionDate.cs
  backend/EasyMeets.Core/EasyMeets.Core.DAL/Entities/Schedule.cs
  backend/EasyMeets.Core/EasyMeets.Core.DAL/Migrations/20220912104030_Add exclusion dates.Designer.cs
  backend/EasyMeets.Core/EasyMeets.Core.DAL/Migrations/20220912104030_Add exclusion dates.cs
  backend/EasyMeets.Core/EasyMeets.Core.DAL/Migrations/EasyMeetsCoreContextModelSnapshot.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Validators/Availability/SaveAvailabilitySlotDtoValidator.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Validators/DayTimeRange/DayTimeRangeDtoValidator.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Validators/ExclusionDateDtoValidator/ExclusionDateDtoValidator.cs
  frontend/src/app/core/helpers/default-schedule-helper.ts
  frontend/src/app/core/helpers/find-same-exclusion-date-helper.ts
  frontend/src/app/core/helpers/slot-with-members-multiple-helper.ts
  frontend/src/app/core/helpers/time-helper.ts
  frontend/src/app/core/helpers/time-ranges-merge-helper.ts
  frontend/src/app/core/models/schedule/ISchedule.ts
  frontend/src/app/core/models/schedule/exclusion-date/IDayTimeRange.ts
  frontend/src/app/core/models/schedule/exclusion-date/IExclusionDate.ts
  frontend/src/app/modules/availability/availability.module.ts
  frontend/src/app/modules/availability/new-slot/new-availability/new-availability.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.html
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.ts
  frontend/src/app/modules/availability/new-slot/schedule/schedule.component.ts
  frontend/src/app/modules/calendars/calendars-page/calendars-page.component.sass
  frontend/src/app/modules/exclusion-dates/custom-date-adapter.ts
  frontend/src/app/modules/exclusion-dates/custom-date-picker/custom-date-picker.component.html
  frontend/src/app/modules/exclusion-dates/custom-date-picker/custom-date-picker.component.sass
  frontend/src/app/modules/exclusion-dates/custom-date-picker/custom-date-picker.component.ts
  frontend/src/app/modules/exclusion-dates/exclusion-dates-picker/exclusion-dates-picker.component.html
  frontend/src/app/modules/exclusion-dates/exclusion-dates-picker/exclusion-dates-picker.component.sass
  frontend/src/app/modules/exclusion-dates/exclusion-dates-picker/exclusion-dates-picker.component.ts
  frontend/src/app/modules/exclusion-dates/exclusion-dates.module.ts
  frontend/src/app/modules/exclusion-dates/header-date-picker/header-date-picker.component.html
  frontend/src/app/modules/exclusion-dates/header-date-picker/header-date-picker.component.sass
  frontend/src/app/modules/exclusion-dates/header-date-picker/header-date-picker.component.ts
  frontend/src/app/modules/external-booking/external-booking-choose-time-page/external-booking-choose-time-page.component.sass
  frontend/src/app/modules/header/header-item/header-item.component.sass
  frontend/src/app/modules/settings/team/team-members/team-members.component.sass
  frontend/src/app/modules/side-menu/tabs-menu/side-menu-tabs.component.sass
  frontend/src/app/shared/components/booking-window/booking-window.component.sass
  frontend/src/app/shared/components/confirmation-window/confirmation-window.component.sass
  frontend/src/app/shared/components/owner-rights-window/owner-rights-window.component.sass
  frontend/src/app/shared/components/team-members-window/team-members-window.component.sass
  frontend/src/app/shared/material/material.module.ts
  frontend/src/styles/color-variables.sass
  frontend/src/styles/screen-variables.sass
Labels: enhancement, frontend, backend

#323 Feature/redesign booking confirmed page #269
  frontend/src/app/modules/external-booking/external-booking-confirmed-page/external-booking-confirmed-page.component.html
  frontend/src/app/modules/external-booking/external-booking-confirmed-page/external-booking-confirmed-page.component.sass
  frontend/src/app/modules/external-booking/external-booking-confirmed-page/external-booking-confirmed-page.component.ts
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.html
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.ts
  frontend/src/app/modules/external-booking/external-booking-routing.module.ts
  frontend/src/app/modules/external-booking/external-booking.module.ts
Labels: enhancement

#327 Card #307 Exclusion dates bug with accessible hours and wrong saved date
  frontend/src/app/core/helpers/date-helper.ts
  frontend/src/app/core/helpers/find-same-exclusion-date-helper.ts
  frontend/src/app/core/helpers/time-helper.ts
  frontend/src/app/core/helpers/time-zone-helper.ts
  frontend/src/app/core/models/schedule/exclusion-date/IExclusionDate.ts
  frontend/src/app/modules/exclusion-dates/exclusion-dates-picker/exclusion-dates-picker.component.html
  frontend/src/app/modules/exclusion-dates/exclusion-dates-picker/exclusion-dates-picker.component.ts
Labels: bug, frontend

#330 #317 The bottom scroll should not be when adding a member
  frontend/src/app/shared/components/team-members-window/team-members-window.component.sass
Labels: bug, frontend

#325 #302 Fix bug with displaying link borders
  frontend/src/app/modules/availability/new-slot/event-detail/event-detail.component.sass
Labels: bug, frontend

#334 Bug/enter details button disabling #320
  frontend/src/app/modules/external-booking/external-booking-confirm-page/external-booking-confirm-page.component.html
  frontend/src/app/modules/external-booking/external-booking-confirm-page/external-booking-confirm-page.component.ts
Labels: bug

#328 [#304] fixed time format for slots page
  frontend/src/app/core/models/IUser.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.html
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.ts
  frontend/src/app/modules/availability/new-slot/schedule-list-item/schedule-list-item.component.html
  frontend/src/app/modules/availability/new-slot/schedule-list-item/schedule-list-item.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-list-item/schedule-list-item.component.ts
Labels: bug, frontend

#314 #282 Bug/enhancment button update preferences
  frontend/src/app/modules/settings/team/edit-team/edit-team.component.ts
  frontend/src/app/modules/settings/team/team-preferences/team-preferences.component.html
  frontend/src/app/modules/settings/team/team-preferences/team-preferences.component.sass
  frontend/src/app/modules/settings/team/team-preferences/team-preferences.component.ts
  frontend/src/app/modules/settings/user/user-profile-page/user-profile-page.component.html
  frontend/src/app/modules/settings/user/user-profile-page/user-profile-page.component.sass
  frontend/src/app/modules/settings/user/user-profile-page/user-profile-page.component.ts
  frontend/src/app/shared/constants/rxjs-constants.ts
  frontend/src/styles/time-zone-picker.sass
Labels: bug

#331 Bug/one team owner #314
  frontend/src/app/modules/settings/team/team-members/team-members.component.html
  frontend/src/app/modules/settings/team/team-members/team-members.component.sass
  frontend/src/app/modules/settings/team/team-members/team-members.component.ts
Labels: bug

#329 Add min-height of cards container #306
  frontend/src/app/modules/external-booking/external-booking-choose-meeting-page/external-booking-choose-meeting-page.component.sass
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.sass
Labels: bug

#336 Card #332 Fix daytime ranges deleting, remove slice
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/AvailabilityService.cs
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.ts
Labels: bug, backend

#349 #336 Fixed іncorrectly displays the time of the new meeting
  frontend/src/app/shared/components/booking-window/booking-window.component.html
  frontend/src/app/shared/components/booking-window/booking-window.component.ts
Labels: bug

#350 [#330] fixed placeholders in questions tab
  frontend/src/app/core/helpers/questions-mandatory-helper.ts
  frontend/src/app/modules/availability/new-slot/questions/questions.component.ts
Labels: bug, frontend

#358 Card #298 Remove timezone conversions
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/CalendarsService.cs
Labels: backend

#352 Bug/readonly teams as member #345
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/ITeamService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/TeamService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Team/TeamMemberDto.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Controllers/TeamController.cs
  frontend/src/app/core/models/ITeamMember.ts
  frontend/src/app/core/services/team.service.ts
  frontend/src/app/modules/settings/team/team-members/team-members.component.html
  frontend/src/app/modules/settings/team/team-members/team-members.component.sass
  frontend/src/app/modules/settings/team/team-members/team-members.component.ts
Labels: bug

#338 #322 The "Create" button is active when the user creates a new meeting without a team member
  frontend/src/app/core/models/INewMeetingTeamMember.ts
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.html
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.ts
Labels: bug, frontend

#362 Bug/single tabs design #352
  frontend/src/app/modules/availability/new-slot/notification-emails/notification-emails.component.html
  frontend/src/app/modules/availability/new-slot/notification-emails/notification-emails.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.html
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.sass
  frontend/src/app/modules/header/header-item/header-item.component.sass
  frontend/src/app/modules/settings/team/team-tabs-menu/team-tabs-menu.component.sass
  frontend/src/styles/components/angular-material/mat-tab-group.sass
  frontend/src/styles/components/angular-material/mat-tab-nav-bar.sass
  frontend/src/styles/material.sass
Labels: bug

#361 Add timer and update validation every minute
  frontend/src/app/core/helpers/time-helper.ts
  frontend/src/app/modules/exclusion-dates/exclusion-dates-picker/exclusion-dates-picker.component.html
  frontend/src/app/modules/exclusion-dates/exclusion-dates-picker/exclusion-dates-picker.component.ts
Labels: bug, frontend

#370 [#366] not all email templates are saved in database
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/AvailabilityService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Availability/SaveAvailability/SaveAvailabilitySlotDto.cs
  frontend/src/app/core/helpers/default-email-templates-helper.ts
  frontend/src/app/core/helpers/notification-templates.ts
  frontend/src/app/core/models/save-availability-slot/ISaveAvailability.ts
  frontend/src/app/modules/availability/new-slot/notification-emails/notification-emails.component.html
  frontend/src/app/modules/availability/new-slot/notification-emails/notification-emails.component.ts
Labels: bug, frontend, backend

#371 #355 Feature/forgot password functionality
  frontend/src/app/core/services/auth-form.service.ts
  frontend/src/app/modules/auth/auth.module.ts
  frontend/src/app/modules/auth/components/forgot-form/forgot-form.component.html
  frontend/src/app/modules/auth/components/forgot-form/forgot-form.component.ts
  frontend/src/app/modules/auth/components/sign-in-form/sign-in-form.component.html
  frontend/src/app/modules/auth/shared-styles.sass
Labels: enhancement, frontend

#373 [#313] send cancellation email
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/IMeetingService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/ExternalAttendeeService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
Labels: enhancement, backend

#360 [#339 & #341] fixed bug with downloading team members
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/ITeamService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/TeamService.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Controllers/MeetingController.cs
  frontend/src/app/core/services/new-meeting.service.ts
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.html
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.ts
Labels: bug, frontend, backend

#388 [#369] incorrect display of elements on the user authorization page
  frontend/src/app/modules/auth/components/sign-in-form/sign-in-form.component.html
  frontend/src/styles/loader.sass
  frontend/src/styles/material.sass
Labels: bug, frontend

#387 [#368] changed error message
  frontend/src/app/core/services/auth-form.service.ts
Labels: bug, frontend

#396 [#278] fixed booking page
  frontend/src/app/core/models/IUserMeeting.ts
  frontend/src/app/modules/bookings/booker/booker.component.html
Labels: bug, frontend

#389 Feature/new meeting emails #359
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/ICalendarsService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/CalendarsService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Email/MeetingEmailTemplateDto.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/appsettings.json
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.html
Labels: enhancement

#400 Bug/team availability size #376
  frontend/src/app/modules/availability/slot/slot.component.html
  frontend/src/app/modules/availability/slot/slot.component.sass
  frontend/src/app/modules/availability/slot/slot.component.ts
  frontend/src/app/modules/availability/team/team.component.sass
Labels: bug

#386 [#346] advanced slot settings applying
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/AvailabilityService.cs
  frontend/src/app/core/helpers/display-duration-helper.ts
  frontend/src/app/core/models/save-availability-slot/IInputSettings.ts
  frontend/src/app/core/models/save-availability-slot/ISaveAdvancedSettings.ts
  frontend/src/app/modules/availability/availability.module.ts
  frontend/src/app/modules/availability/new-slot/general/custom-time/custom-time.component.html
  frontend/src/app/modules/availability/new-slot/general/custom-time/custom-time.component.sass
  frontend/src/app/modules/availability/new-slot/general/custom-time/custom-time.component.ts
  frontend/src/app/modules/availability/new-slot/general/general.component.html
  frontend/src/app/modules/availability/new-slot/general/general.component.sass
  frontend/src/app/modules/availability/new-slot/general/general.component.ts
  frontend/src/app/modules/external-booking/external-booking-choose-time-page/external-booking-choose-time-page.component.html
  frontend/src/app/modules/external-booking/external-booking-choose-time-page/external-booking-choose-time-page.component.ts
  frontend/src/app/shared/enums/custom-field.ts
Labels: enhancement, frontend, backend

#403 [#358] canceled meeting email
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/ICalendarsService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/IMeetingService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/CalendarsService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Calendar/EventItemDTO.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Email/MeetingEmailTemplateDto.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Controllers/MeetingController.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/appsettings.json
  frontend/src/app/modules/external-booking/external-booking-choose-time-page/external-booking-choose-time-page.component.ts
Labels: enhancement, backend

#383 #266 Redesign the Setting Page
  frontend/src/app/core/helpers/user-settings-menu-helper.ts
  frontend/src/app/modules/availability/new-slot/event-detail/event-detail.component.sass
  frontend/src/app/modules/availability/new-slot/new-availability/new-availability.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-definition/exclusion-date/exclusion-date.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-week/schedule-week.component.sass
  frontend/src/app/modules/availability/new-slot/schedule/schedule.component.sass
  frontend/src/app/modules/availability/slot/slot.component.sass
  frontend/src/app/modules/availability/user-slot/user-slot.component.sass
  frontend/src/app/modules/bookings/bookings-page/bookings-page.component.sass
  frontend/src/app/modules/calendars/calendars-page/calendars-page.component.sass
  frontend/src/app/modules/exclusion-dates/custom-date-picker/custom-date-picker.component.sass
  frontend/src/app/modules/exclusion-dates/exclusion-dates-picker/exclusion-dates-picker.component.sass
  frontend/src/app/modules/exclusion-dates/header-date-picker/header-date-picker.component.sass
  frontend/src/app/modules/external-booking/external-booking-choose-time-page/external-booking-choose-time-page.component.sass
  frontend/src/app/modules/external-booking/external-booking-confirmed-page/external-booking-confirmed-page.component.sass
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.sass
  frontend/src/app/modules/header/header-item/header-item.component.sass
  frontend/src/app/modules/new-meeting/new-meeting-calendar-header/new-meeting-calendar-header.component.sass
  frontend/src/app/modules/settings/settings-page/settings-page.component.html
  frontend/src/app/modules/settings/settings-page/settings-page.component.sass
  frontend/src/app/modules/settings/team/team-members/team-members.component.sass
  frontend/src/app/modules/settings/team/team-preferences/team-preferences.component.sass
  frontend/src/app/modules/settings/user/user-profile-page/user-profile-page.component.sass
  frontend/src/app/modules/settings/video-conferencing/video-conferencing.component.html
  frontend/src/app/modules/settings/video-conferencing/video-conferencing.component.sass
  frontend/src/app/modules/side-menu/menu/side-menu.component.html
  frontend/src/app/modules/side-menu/menu/side-menu.component.sass
  frontend/src/app/modules/side-menu/tabs-menu/side-menu-tabs.component.sass
  frontend/src/app/shared/components/booking-window/booking-window.component.sass
  frontend/src/app/shared/components/confirmation-window/confirmation-window.component.sass
  frontend/src/app/shared/components/owner-rights-window/owner-rights-window.component.sass
  frontend/src/app/shared/components/slot-password-window/slot-password-window.component.sass
  frontend/src/app/shared/components/team-members-window/team-members-window.component.sass
  frontend/src/styles/color-variables.sass
  frontend/src/styles/components/angular-material/mat-tab-group.sass
  frontend/src/styles/components/angular-material/mat-tab-nav-bar.sass
  frontend/src/styles/material.sass
Labels: enhancement, frontend

#418 [#388 & #370] updating calendars fix and removing unnecessary button
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/ICalendarsService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/CalendarsService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
  frontend/src/app/modules/calendars/calendars-page/calendars-page.component.html
  frontend/src/app/modules/calendars/calendars-page/calendars-page.component.sass
  frontend/src/app/modules/calendars/calendars-page/calendars-page.component.ts
Labels: bug, frontend, backend

#421 [#396] spinner hide fix
  frontend/src/app/core/guards/pending-changes.guard.ts
Labels: bug, frontend

#427 [#398] fixed email template
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/DTO/Email/MeetingEmailTemplateDto.cs
Labels: bug, backend

#425 [#399] broken external attendee choose meeting time page fix
  frontend/src/app/core/helpers/schedule-items-helper.ts
Labels: bug, frontend

#442 #266 Bug/settings page missing paddings
  frontend/src/app/modules/side-menu/menu/side-menu.component.sass
Labels: bug

#397 #336 Bug/time of meeting displays incorrectly
  frontend/src/app/core/helpers/time-zone-helper.ts
  frontend/src/app/core/helpers/unavailability-helper.ts
  frontend/src/app/core/services/time-zone.service.ts
  frontend/src/app/modules/bookings/bookings-page/bookings-page.component.html
  frontend/src/app/modules/bookings/bookings-page/bookings-page.component.ts
  frontend/src/app/modules/exclusion-dates/exclusion-dates-picker/exclusion-dates-picker.component.ts
  frontend/src/app/modules/new-meeting/meeting.module.ts
  frontend/src/app/modules/new-meeting/new-meeting-calendar-header/new-meeting-calendar-header.component.html
  frontend/src/app/modules/new-meeting/new-meeting-calendar-header/new-meeting-calendar-header.component.sass
  frontend/src/app/modules/new-meeting/new-meeting-calendar-header/new-meeting-calendar-header.component.ts
  frontend/src/app/modules/new-meeting/new-meeting-calendar/new-meeting-calendar.component.ts
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.html
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.sass
  frontend/src/app/modules/new-meeting/new-meeting/new-meeting.component.ts
Labels: bug

#447 [#372] real data in emails
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/MeetingService.cs
  backend/EasyMeets.Core/EasyMeets.Core.Common/Constant/EmailVariables.cs
  frontend/src/app/modules/bookings/bookings-page/bookings-page.component.ts
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.ts
Labels: enhancement

#454 [#428] the main information block is not flexible to small page sizes
  frontend/src/app/modules/external-booking/external-booking-page/external-booking-page.component.sass
Labels: bug, frontend

#450 Feature/defining new design #270
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Interfaces/IAvailabilityService.cs
  backend/EasyMeets.Core/EasyMeets.Core.BLL/Services/AvailabilityService.cs
  backend/EasyMeets.Core/EasyMeets.Core.WebAPI/Controllers/AvailabilityController.cs
  frontend/src/app/core/models/save-availability-slot/ISaveAvailability.ts
  frontend/src/app/core/services/availability-slot.service.ts
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-external/schedule-external.component.html
  frontend/src/app/modules/availability/new-slot/schedule-external/schedule-external.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-external/schedule-external.component.ts
Labels: enhancement

#463 Fix long user name in bookers [#437]
  frontend/src/app/modules/bookings/booker/booker.component.sass
Labels: bug

#461 #393 Bug/add dividers to schedule tab
  frontend/src/app/modules/availability/availability.module.ts
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.html
  frontend/src/app/modules/availability/new-slot/schedule-definition/schedule-definition.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-list-item/schedule-list-item.component.html
  frontend/src/app/modules/availability/new-slot/schedule-list-item/schedule-list-item.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-list/schedule-list.component.html
  frontend/src/app/modules/availability/new-slot/schedule-list/schedule-list.component.sass
  frontend/src/app/modules/availability/new-slot/schedule-list/schedule-list.component.ts
  frontend/src/app/modules/availability/new-slot/schedule/schedule.component.html
  frontend/src/app/modules/availability/new-slot/schedule/schedule.component.sass
Labels: bug

#472 [#440] incorrect paddings fix
  frontend/src/app/modules/availability/new-slot/event-detail/event-detail.component.sass
  frontend/src/app/modules/availability/new-slot/general/general.component.sass
  frontend/src/app/modules/availability/new-slot/notification-emails/notification-emails.component.sass
  frontend/src/app/modules/availability/new-slot/questions/questions.component.sass
  frontend/src/app/modules/availability/new-slot/schedule/schedule.component.sass
  frontend/src/app/modules/settings/settings-page/settings-page.component.sass
Labels: bug, frontend

#474 Fix pages for demo, remove unused buttons and tabs
  frontend/src/app/core/helpers/user-settings-menu-helper.ts
  frontend/src/app/modules/availability/new-slot/schedule-external/schedule-external.component.html
  frontend/src/app/modules/availability/new-slot/schedule-external/schedule-external.component.sass
  frontend/src/app/modules/availability/slot/slot.component.html
  frontend/src/app/modules/bookings/bookings-page/bookings-page.component.html
  frontend/src/app/modules/calendars/calendars-page/calendars-page.component.ts
  frontend/src/styles/material.sass
Labels: bug, frontend
